*.class

# Package Files #
*.jar
*.war
*.ear

/target
/.settings
/pi4j-core/.settings
/pi4j-core/.classpath
/pi4j-example/.settings
/pi4j-example/.classpath
/pi4j-native/.settings

/.project
/pi4j-native/.project
/pi4j-core/.project
/pi4j-example/.project
/pi4j-core/target
/pi4j-example/target
/pi4j-native/target
/pi4j-core/target
/pi4j-service/.project
/pi4j-service/.classpath
/pi4j-service/.settings
/pi4j-service/target