# Build files
out
target
gen
bin

# IntelliJ files
.idea
*.iml

# Eclipse files
.settings
.classpath
.project
.externalToolBuilders
.metadata
maven-eclipse.xml

# UltraEdit .bak files
*.bak

# Vim files
*.swp

# Mac files
.DS_Store

# Windows files
Thumbs.db

# Package Files #
*.jar
*.war
*.ear
*.zip
*.deb
/nbactions.xml
