Installation

* Dependencies

** Install JRE/JDK
  
  If you have not already installed a Java runtime environment, please see the following article for a complete set of installation insructions for installing the Oracle JDK.\
  {{http://www.savagehomeautomation.com/pi-jdk}}

** WiringPi Native Library

  Pi4J depends on the WiringPi native library by Gordon Henderson.  Please see the following page for more information on WiringPi.\
  {{https://projects.drogon.net/raspberry-pi/wiringpi/download-and-install/}}
  
  No installation is required for Wiring Pi.  Wiring Pi is embedded in the Pi4J native library.   

* Pi4J

** Install Pi4J

  Just download and copy the Pi4J JAR file and make sure it is included in the classpath for your Java project.\
  You can use the following command on the Raspberry Pi's console to download the latest pi4j.jar build:
  
  <<<wget https://github.com/downloads/Pi4J/pi4j/pi4j-core-${project.version}.jar>>>
  
  
